extends ./../layout.jade

block header
  script(src='/javascript/addGoal.js')

block content
  -
    goals = ['goal-1', 'goal-2'];
  .game
    ul
      li=game.season
      li=game.matchup
      li=game.date
    form.goals(action='/games/#{game.permalink}', method='POST')
      each goal in goals
        div
          select(name='goals[#{goal}][who]')
            option(value='home') Home Team
            option(value='away') Away Team
        div
          select(name='goals[#{goal}][period]')
            option(value='1') 1st Period
            option(value='2') 2nd Period
            option(value='3') 3rd Period
            option(value='4') Overtime
          input(type='text', name='goals[#{goal}][time]', placeholder='Time of Goal')
        div
          select(name='goals[#{goal}][type]')
            option(value='even') Even Strength
            option(value='ppg') Power Play
            option(value='shg') Short Handed
            option(value='eng') Empty Net
        div
          input(type='text', name='goals[#{goal}][goal]', placeholder='Goal')
        div
          input(type='text', name='goals[#{goal}][goal]', placeholder='Primary')
        div
          input(type='text', name='goals[#{goal}][goal]', placeholder='Secondary')
      input(type='hidden', name='_method', value='PUT')      
      input(type='submit')