extends ./layout.jade
block content
  .content
  each game in games
    .game
      paper-material.header(elevation='0', animated)
        paper-icon-item
          //- class=game.opp.icon
          .avatar(item-icon)
          paper-item-body(two-line)
            div=game.matchup
            div(secondary)=game.date
          if game.scoringSummary
            paper-icon-button.recap(icon='expand-more')
      if game.scoringSummary
        paper-material.recap(elevation='0', animated, style='display: none;')
          paper-material.spacious(elevation='0', animated)
            //- paper-icon-item
              if game.scoringSummary.our > game.scoringSummary.opp
                .avatar.letter.win(item-icon)
              else if game.scoringSummary.our == game.scoringSummary.opp
                .avatar.letter.tie(item-icon)
              else
                .avatar.letter.loss(item-icon)
              | #{game.recap.scoringSummary.our} - #{game.recap.scoringSummary.opp}
          paper-material.summary.spacious.goal(elevation='0', animated) 
            paper-icon-item
              paper-item-body
                div Scoring Summary
                //- div(secondary) 1 2 3
              paper-icon-button.goal(icon='expand-more')
          paper-material.goals(style='display: none;')
            each goal in game.scoringSummary
              paper-icon-item
                paper-item-body.goal(two-line)
                  div(class='#{goal.who}') Goal
                  div(secondary) ##{goal.goal[0]} - ##{goal.goal[1]} ##{goal.goal[2]}
          paper-material.summary.spacious.penalty(elevation='0', animated) 
            paper-icon-item
              paper-item-body
                div Penalty Summary
                //- div(secondary) 1 2 3
              paper-icon-button.penalty(icon='expand-more')
          paper-material.penalties(style='display: none;')
              each penalty in game.penaltySummary
                paper-icon-item
                  paper-item-body.penalty(two-line)
                    div #{penalty.name} (#{penalty.type})
                    div(secondary) ##{penalty.player}
