extends ./layout.jade

block content
  -
    var TEAMS = [
      "Lucky Bastards",
      "Boozers",
      "Dragons",
      "Five Holers"
    ];

    /* Returns an Array of Team Objects */
    function generateTeams(numGames) {
      var i;
      var teams = [];

      for (i = 0; i < TEAMS.length; i++) {
        teams.push(generateTeam(TEAMS[i], numGames));
      }

      return teams;
    }

    /* Returns an Object of a Team */
    function generateTeam(name, numGames) {
      var team = {};
      team.name = name;
      team.wins = Math.floor(Math.random() * (numGames + 1));
      team.losses  = Math.floor(Math.random() * (numGames - team.wins + 1));
      team.ties = numGames - team.wins - team.losses;
      team.points = team.wins * 2 + team.ties;

      return team;
    }

    teams = generateTeams(8);


  .standings
    paper-item.data-table.header
      .team Team
      .data
        div Wins
        div Losses
        div Ties
        div Points
    each team in teams
      paper-item.data-table(style='order:#{team.points}')
        .team=team.name
        .data
          div=team.wins
          div=team.losses
          div=team.ties
          div=team.points
